## Q1. Create one variable containing following type of data:

In [2]:
g = 'GG'
i = ['Gifts',1.2,23,True,1+2j]
f = 4.55
t = (1,2,3)

### Q2. Given are some following variables containing data:

In [5]:
print("var1 = string")
print("var2 = error")
print("var3 = list")
print("var4 = int")

var1 = string
var2 = error
var3 = list
var4 = int

# Q3. Explain the use of the following operators using an example:

In [6]:
a = 10
b = 5
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.0
0
2
100000

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [1]:
list1 = [1,2.3,'gift',True,1+5j,45,"Five",99.1,False,10]

for g in list1:
    print(g)
    print(type(g))

1
<class 'int'>
2.3
<class 'float'>
gift
<class 'str'>
True
<class 'bool'>
(1+5j)
<class 'complex'>
45
<class 'int'>
Five
<class 'str'>
99.1
<class 'float'>
False
<class 'bool'>
10
<class 'int'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
A = 100
B = 5

gg = 0
while A%B == 0:
    gg += 1

if gg>1:
    print(f"The number A is purely divisible by number B. It can be divided {gg} times")
else:
    print("It is not divisible")

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [3]:
list2 = [1,2,3,4,5,56,12,100,45,50,24,18,90,13,20,17,25,18,50,71,79,27,39,42,63]

for g in list2:
    if g%3==0:
        print(f"{g} is divisible by 3")
    else:
        print(f"{g} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
56 is not divisible by 3
12 is divisible by 3
100 is not divisible by 3
45 is divisible by 3
50 is not divisible by 3
24 is divisible by 3
18 is divisible by 3
90 is divisible by 3
13 is not divisible by 3
20 is not divisible by 3
17 is not divisible by 3
25 is not divisible by 3
18 is divisible by 3
50 is not divisible by 3
71 is not divisible by 3
79 is not divisible by 3
27 is divisible by 3
39 is divisible by 3
42 is divisible by 3
63 is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutable objects can be modified and Immutable objects cannot be modified.

In [5]:
# Mutable
list3 = [1,"GG",4.5,1+2j]
list3[1] = "Giftson"
print(list3)

[1, 'Giftson', 4.5, (1+2j)]

In [7]:
# Immutable
w = "Gift"
w[1] = "r"
print(w)

TypeError: 'str' object does not support item assignment